name: create release and upload binary

on:
  push:
    tags:
    - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: install go
      uses: actions/setup-go@v1
      with:
        go-version: 1.13.x

    - name: checkout
      uses: actions/checkout@v1

    - name: get version
      id: v
      run: echo ::set-output name=tag::$( awk -F '/' '{print $NF}' <<< "${GITHUB_REF}" )

    - name: build
      run: |
        for OS in linux darwin; do
          echo "building binary for ${OS}"
          GOOS=${OS} GOARCH=amd64 go build -v -o zookeeper-exporter
          tar -czvf zookeeper-exporter-${{ steps.v.outputs.tag }}-${OS}.tar.gz --transform "s,^,zookeeper-exporter-${{ steps.v.outputs.tag }}-${OS}/," zookeeper-exporter
        done
        ls -lh

    - name: create release
      id: create-release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.v.outputs.tag }}
        release_name: ${{ steps.v.outputs.tag }}
        draft: false
        prerelease: false

    - name: upload linux binary
      uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create-release.outputs.upload_url }}
        asset_path: zookeeper-exporter-${{ steps.v.outputs.tag }}-linux.tar.gz
        asset_name: zookeeper-exporter-${{ steps.v.outputs.tag }}-linux.tar.gz
        asset_content_type: application/gzip

    - name: upload darwin binary
      uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create-release.outputs.upload_url }}
        asset_path: zookeeper-exporter-${{ steps.v.outputs.tag }}-darwin.tar.gz
        asset_name: zookeeper-exporter-${{ steps.v.outputs.tag }}-darwin.tar.gz
        asset_content_type: application/gzip